<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Index Page</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css" />
    <!-- <style>body{background: skyblue; font-family: verdana; color: white; padding: 30px;}
</style> -->
      </head>
      <body>
        <% include partials/nav.ejs %>
          <h1>Contact us</h1>
          <p>Reach out for us... wont regret it</p>
      </body>
</html>
